# Environment Name
NODE_ENV=development

# Server listen to this port

PORT=5000
BASE_URL=http://localhost:5000


# Token Info
ACCESS_TOKEN_VALIDITY_DAYS=1
refresh_tokenN_VALIDITY_DAYS=1
TOKEN_ISSUER='ISSUER'
TOKEN_AUDIENCE='AUDIENCE '

# DB INfo
DB_USERNAME= "root"
DB_PASSWORD= "root"
DB_NAME="DBNAME"
DB_HOST="127.0.0.1"
DB_DIALECT="mysql"
DB_PORT=3309

#TEST DB INFO
DB_TEST_NAME = "testingdb"
DB_TEST_USERNAME= "root"
DB_TEST_PASSWORD= "root"
DB_TEST_HOST="127.0.0.1"
DB_TEST_DIALECT="mysql"
DB_TEST_PORT=3309

#SEEDER config
SEEDER_PASSWORD=
SEEDER_ADMIN_ROLE = 
SEEDER_SUPERADMIN_ROLE =
SEEDER_PARENT_ROLE = 
SEEDER_CHILD_ROLE = 

#EMAIL CONFIG
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL=

#SMS CONFIG
SMS_SID=
SMS_AUTH_TOKEN=
SMS_SENDER=